<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/00d696814b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />

    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-nav">
        <a href="/" id="main-logo"><img src="/images/logo-mercado-liebre.svg"></a>
        <section id="search-bar">
            <form>
                <input id="buscador" type="text" placeholder="Buscar productos, marcas">
                <button id = "boton-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>
        <p class="main-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <section class="nav-bottom">
            <nav>
                <ul>
                    <li><a href="/views/ofertas.html">Ofertas</a></li>
                    <li><a href="/views/ofertas.html">Tiendas Oficiales</a></li>
                    <li><a href="/views/ofertas.html">Vender</a></li>
                    <li><a href="/views/ofertas.html">Ayuda</a></li>
                </ul>
            </nav>
            <section id="login-bar">
                <ul>
                    <li><a href="/register">Creá tu cuenta&nbsp;<i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/views/ofertas.html">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </section>
        </section>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="promo-dia-del-padre">
    </section>
    <main>
        <div id="login">
            <h3>Ingresá a tu cuenta</h3>
            <form action="/unknown" method="post">
                <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button type="button" class="submit">Enviar</button>
            </form>
        </div>
    </main>
    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <article class="copyright">
            <p id="copyright">© 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>