/* TOP BAR: Logo + Search bar + pay */
.main-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    color: #000;
    background-color: #EAC926;
    padding: 5px;
}

.nav-bottom nav {
    width: 50%;
}

.nav-bottom {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0%;
}

ul li {
    padding-right: .5rem;
}

#login-bar ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 0%;
}



#login-bar {
    width: 50%;
}

header p {
    text-align: center;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #000;
}

.hamburger {
    text-align: center;
    color: white;
    width: 100%;
    text-align: center;
}

.hamburger i {
    background-color: #1259c3;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#main-logo {
    width: 25%;
}

#search-bar {
    text-align: center;
    width: 50%;
    align-self: center;
}

form input {
    width: 60%;
}

form button {
    width: 20%;
}

.main-cuotas {
    width: 25%;
}

/* Body */

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

h4.precios {
    font-size: 18px;
}

footer article {
    text-align: center;
    font-family: Roboto;
    color: #000;
}

footer i {
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #1259c3;
}

main img {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 0.75rem;
}

footer h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

footer p {
    margin-top: 2px;
}

#copyright {
    margin-top: 25px;
    background-color: #ebebeb;
    padding: 3px;
    width: 100%;
}

.banner img {
    max-width: 100%;
}

body {
    font-family: Roboto;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
}

article {
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
}

footer {
    background-color: white;
}