/* TOP BAR: Logo + Search bar + pay */

*{
    padding: 0px;
    box-sizing: border-box;
    }
.main-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    color: #000;
    background-color: #EAC926;
    padding: 1rem;
}

.nav-bottom nav {
    width: 50%;
}

.nav-bottom {
    width: 100%;
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0%;
}

ul li {
    padding-right: .5rem;
}

#login-bar ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 0%;
}



#login-bar {
    width: 50%;
}

header p {
    text-align: center;
}

header ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #000;
}

.hamburger {
    text-align: center;
    color: white;
    width: 100%;
    text-align: center;
}

.hamburger i {
    background-color: #1259c3;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#main-logo {
    width: 50%;
    max-width: 200px;
}

#search-bar {
    text-align: center;
    width: 50%;
    align-self: center;
}

#buscador, #boton-search {
    line-height: 1;
    padding: .8125em .75em;
    border-radius: .375rem;
    border: solid 0px darkgray;
    background-color: white;
}
#buscador {
    width: 95%;
}
#search-bar form {
    position: relative;
}
#boton-search {
    position: absolute;
    right: 5%;
    top: 1px;
}

form input {
    width: 75%;
}

form button {
    width: fit-content;
}

.main-cuotas {
    width: 100%;
    align-self: center;
}

/* Body */

h3 {
    font-size: 24px;
}

main p {
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

footer article {
    text-align: center;
    font-family: Roboto;
    color: #000;
}

footer i {
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #1259c3;
    transition: color, .5s;
}

footer i:hover {
    color: #EAC926;
}

main img {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 0.75rem;
}

footer h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

footer p {
    margin-top: 2px;
}

#copyright {
    margin-top: 25px;
    width: 100%;
}

.copyright {
    background-color: #ebebeb;
    width: 100%;
}

.banner img {
    max-width: 100%;
    box-shadow: 0px 2px 3px rgb(100 100 100);

}

body {
    font-family: Roboto;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
}



footer {
    background-color: white;
}

* {
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

article {
    background-color: white;
    /* width: 95%; */
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
}

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-productos article {
    width: 100%;
}

.descripcion-producto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

main i {
    color: #39b54a;
    border: solid 1px #39b54a;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 20px;
    transition: .5s;
}

.precios {
    font-size: 18px;
    /* margin-bottom: 0px; */
    width: 50%;
    align-self: center;
}
.descuento {
    color: #39b54a;
    /* margin-top: 0px; */
    width: 50%;
    align-self: center;
}

.nombre-producto {
    color: #666;
    margin-bottom: 0px;
    display: none;
}

main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: box-shaddow, 0.5s;
}


@media (min-width: 361px) {
    main article {
        box-shadow: 0px 0px 00px rgb(100, 100, 100);
        transition: box-shaddow, 0.5s;
    }
    .nombre-producto {
        display: block;
        color: white;
        transition: color, .5s;
    }
    main article:hover .nombre-producto {
        color: #666;
    }
    .nav-bottom {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    main article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .lista-productos article {
        width: 45%;
    }
    .lista-productos {
        justify-content: space-between;
    }
    .hamburger {
        display: none;
    }
    .main-cuotas {
        width: 100%;
        align-self: center;
    }
    main i:hover {
        transform: rotate(-90deg)
    }
}

@media (min-width: 769px){
    .lista-productos article {
        width: 23%;
    }
    .search-bar {
        text-align: center;
        width: 50%;
        align-self: center;
    }
    #main-logo {
        width: 25%;
    }
    .main-cuotas {
        width: 25%;
        align-self: center;
    }
    footer article {
        width: 30%;
    }
}